<div class="basic-grey">

  <script>
      $.notify("<%= notice %>", "success")
  </script>

  <h1><%= "#{t('messages.listing')} #{@kinds.model_name.human(count: @kinds.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @kinds.human_attribute_name("description") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr style="background: <%= cycle('white', 'grey') %>">
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @kinds %>

<br>

<%= link_to t('buttons.new'), new_kind_path, class: "btn btn-primary" %>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
</div>