<%= form_for(@contact, html: {class: "basic-grey"}) do |f| %>

  <h1><%= @contact.model_name.human %></h1>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :kind_id %><br>
    <%= f.collection_select(:kind_id, @kind, :id, :description) %>
  </div>

  <%= f.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street %><br>
      <%= address_fields.text_field :street %>
    </div>

    <div class="field">
      <%= address_fields.label :city %><br>
      <%= address_fields.text_field :city %>
    </div>

    <div class="field">
      <%= address_fields.label :state %><br>
      <%= address_fields.select :state, options_for_states( @contact.address.state)%>
    </div>
  <% end %>

  <div id="phones">
    <%= f.fields_for :phones do |phones_fields| %>
      <%= render partial: "phone_fields", locals: { f: phones_fields }  %>
    <% end %>

    <div class="field">
      <%= f.label :phones, "<span class='glyphicon glyphicon-phone-alt' aria-hidden='true' ></span>".html_safe %><br>
      <%= link_to_add_association('[Adicionar Telefone]', f, :phones) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :rmk %><br>
    <%= f.text_area :rmk %>
  </div>

  <div class="actions">
    <%= f.submit t('buttons.save'), class: "btn btn-primary" %>
    <%= link_to t('buttons.back'), contacts_path, class: "btn btn-success" %>
  </div>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@contact.errors.count, 'erro')} #{t('messages.errors')}:" %> </h2>

      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
